.header {
    padding: 91px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 20px;
    text-decoration-skip-ink: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 112px;
}

.header__menu {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    list-style: circle;
}

.header__link {
    text-decoration: none;
}

.header__links-list-item {
    text-decoration: underline;
    text-underline-position: under;
    line-height: 25px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    text-underline-position: under;
    line-height: 26px;
    justify-self: end;
    font-style: inherit;
}
   

.cover {
    padding: 165px 50px 50px 50px;
    min-height: 757px;
    background-image: url("images\cover.jpg");
}

.lots {
    padding: 0 24px;
    margin: 180px 0 120px 0;
}

.card_type_film {
    background-image: url("images\card-lot-01.jpg");
}

.card_type_book {
    background-image: url("images\card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("images\card-lot-03.jpg");
}

